.aboutus {
    list-style: none;
    padding-top: 20px;
    margin:30px;
    display: flex;
    justify-content:center;
    align-items: center;
   
  }
  #aboutpic {
    max-width: 250px;
    height: auto;
  }

 @media (max-width: 450px) {
    #phone {
        display:none
      }
      .contactinfo {
        inline-size: 280px;
        overflow-wrap: break-word;
      }

      .contact {
        list-style: none;
        margin: 0;
        padding: 5px;
        padding-top: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: small;
        
       
      }
  }
  @media (max-width: 300px) {
    #phone {
       display:none;
      }
      .contactinfo {
        inline-size: 280px;
        overflow-wrap: break-word;
      }
   .contact {
        list-style: none;
        margin: 0;
        padding: 30px;
        padding-top: 50px;
        display:ruby-text;
        justify-content:center;
        align-items:center;
        font-size:xx-small;
        
       
      }
  }
  
