#care{
    padding-left:50px;
    width:400px;
    height:auto;
        }
@media (max-width: 450px) {
    #care {
        max-width: 120px;
        height: auto;
      }
}
 @media (max-width: 300px) {
    #care {
        max-width: 90px;
        height: auto;
      }
     }
  
  
